.web-avatar-dropdown-dropdown-1005a631 {
  padding-top: 6px;
  text-align: right;
}

.web-avatar-dropdown-avatar-c8c76591 {
  cursor: pointer;
  margin-left: 16px;
  background-color: #87d068;
}

.web-avatar-dropdown-avatar-c8c76591:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
}
