.web-containers-productDetail-image-container {
  background-color: white;
  margin-top: 10px;
}

.web-container-productDetail-col-image {
  padding: 15px;
}

.web-container-productDetail-col-detail {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 35px;
}
